---
import WithIcon from "@/components/astro/WithIcon.astro";
import WithProse from "@/components/astro/WithProse.astro";
import { slugsOrdered } from "@/content.config";
import { getLocalizedMessage, locales } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";
import dayjs from "dayjs";

export async function getStaticPaths() {
  return await Promise.all(
    locales.flatMap((locale) =>
      slugsOrdered.flatMap(async (slug, idx) => ({
        params: { locale, slug },
        props: {
          page: await getEntry("posts", locale + "/" + slug)!,
          idx,
        },
      })),
    ),
  );
}

const { page, idx } = Astro.props;

const publishDate = page.data.publishDate && dayjs(page.data.publishDate);
const lastmod = page.data.lastmod && dayjs(page.data.lastmod);
const prevSlug = slugsOrdered[idx - 1];
const nextSlug = slugsOrdered[idx + 1];

const { Content } = await render(page);
---

<Layout title={page.data.title}>
  <WithProse>
    <h1>{page.data.title ?? getLocalizedMessage("siteTitle", Astro.currentLocale)}</h1>
    {
      publishDate && lastmod && (
        <div class="mt-6 mb-12 text-primary-content/20 select-none">
          <span class="peer">
            {getLocalizedMessage("lastmod", Astro.currentLocale)}
            {lastmod.format("YYYY MMM DD")}
          </span>
          <span class="ml-3 hidden peer-hover:inline peer-active:inline">
            ({getLocalizedMessage("publishDate", Astro.currentLocale)}
            {publishDate.format("YYYY MMM DD")})
          </span>
        </div>
      )
    }

    <Content />
  </WithProse>

  <div class="mx-auto my-8 flex max-w-xl px-6 text-primary-content/60 select-none">
    {
      prevSlug && (
        <WithIcon
          as="a"
          iconName="heroicons:arrow-left-16-solid"
          href={"/" + Astro.currentLocale + "/" + prevSlug + "/"}
          class="p-3 no-underline hover:text-primary-content/80 active:text-primary-content/80"
        >
          {getLocalizedMessage("prevPost", Astro.currentLocale)}
        </WithIcon>
      )
    }

    <div class="grow"></div>

    {
      nextSlug && (
        <WithIcon
          as="a"
          iconName="heroicons:arrow-right-16-solid"
          iconPosition="right"
          href={"/" + Astro.currentLocale + "/" + nextSlug + "/"}
          class="p-3 no-underline hover:text-primary-content/80 active:text-primary-content/80"
        >
          {getLocalizedMessage("nextPost", Astro.currentLocale)}
        </WithIcon>
      )
    }
  </div>
</Layout>
