---
import Links from "@/components/Links.astro";
import PostLinks from "@/components/PostLinks.astro";
import WithProse from "@/components/WithProse.astro";
import { slugsOrdered } from "@/content.config";
import { getLocalizedMessage, locales } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import dayjs from "dayjs";
import isSameOrAfter from "dayjs/plugin/isSameOrAfter";

export const getStaticPaths = async () =>
  locales.map((locale) => ({
    params: { locale },
  }));

dayjs.extend(isSameOrAfter);
---

<Layout>
  <WithProse>
    <h1>{getLocalizedMessage("siteTitle", Astro.currentLocale)}</h1>
    <p class="italic">{getLocalizedMessage("indexIntro", Astro.currentLocale)}</p>

    <h2>{getLocalizedMessage("indexMetacognitionTitle", Astro.currentLocale)}</h2>
    <p class="italic">{getLocalizedMessage("indexMetacognitionIntro", Astro.currentLocale)}</p>
    <PostLinks slugs={slugsOrdered.filter((slug) => slug.startsWith("metacognition/"))} />

    <h2>{getLocalizedMessage("indexHumanityTitle", Astro.currentLocale)}</h2>
    <p class="italic">{getLocalizedMessage("indexHumanityIntro", Astro.currentLocale)}</p>
    <PostLinks slugs={slugsOrdered.filter((slug) => slug.startsWith("humanity/"))} />

    <h2>{getLocalizedMessage("indexMelancholyTitle", Astro.currentLocale)}</h2>
    <p class="italic">{getLocalizedMessage("indexMelancholyIntro", Astro.currentLocale)}</p>
    <PostLinks slugs={slugsOrdered.filter((slug) => slug.startsWith("melancholy/"))} />

    <h2>{getLocalizedMessage("indexDreamscapesTitle", Astro.currentLocale)}</h2>
    <p class="italic">{getLocalizedMessage("indexDreamscapesIntro", Astro.currentLocale)}</p>
    <PostLinks slugs={slugsOrdered.filter((slug) => slug.startsWith("dreamscapes/"))} />

    <h2>{getLocalizedMessage("indexPortfolioTitle", Astro.currentLocale)}</h2>
    <p class="italic">{getLocalizedMessage("indexPortfolioIntro", Astro.currentLocale)}</p>
    <Links
      links={[
        {
          title: getLocalizedMessage("indexBlogLinkTitle", Astro.currentLocale),
          href: "https://github.com/nixonyung/nixonyung.github.io",
        },
        {
          title: getLocalizedMessage("indexLoLMontageLinkTitle", Astro.currentLocale),
          href: "https://youtu.be/iySV-wmcWJE",
          lastmod: new Date(2023, 8, 17),
        },
        {
          title: getLocalizedMessage("indexLoLHighlightsLinkTitle", Astro.currentLocale),
          href: "https://youtube.com/playlist?list=PLM0gG42nMMgWRUXKFjqwCVxA3k0Zx71jT",
          lastmod: new Date(2025, 4, 17),
        },
        {
          title: getLocalizedMessage("indexTouchTypingPractice", Astro.currentLocale),
          href: "/touch-typing-practice",
        },
      ]}
    />
  </WithProse>
</Layout>
