@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .myprose {
    @apply prose
      prose-headings:scroll-mt-20
      prose-h2:text-3xl
      prose-h3:text-2xl
      prose-ul:leading-6
      prose-quoteless
      prose-blockquote:hyphens-none
      /* gradient headers */
      prose-headings:text-transparent
      prose-headings:bg-clip-text
      prose-headings:bg-gradient-to-b
      prose-headings:from-base-content
      prose-headings:from-40%
      prose-headings:to-primary
      prose-headings:to-80%;
  }
}
