---
import HtmlHead from "@/components/HtmlHead.astro";
import Scripts from "@/components/Scripts.astro";
import { getLocalizedMessage } from "@/i18n";
import LanguagesLearnerComponent from "./_languages-learner/index.svelte";
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <HtmlHead title={getLocalizedMessage("indexLanguagesLearner", Astro.currentLocale)} />
  </head>

  <body class="min-w-content touch-manipulation bg-primary text-primary-content">
    <LanguagesLearnerComponent client:only="svelte" />

    <Scripts />
  </body>
</html>
