---
import HtmlHead from "@/components/HtmlHead.astro";
import TouchTypingPracticeComponent from "./_touch-typing-practice/index.svelte";
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <HtmlHead title="Touch Typing Practice" />
  </head>

  <body class="min-w-content touch-manipulation bg-primary text-primary-content">
    <TouchTypingPracticeComponent client:only="svelte" />
  </body>
</html>
