{{ define "content" }}
  <div class="mb-4">
    <h1 class="inline m-0 box-decoration-clone">{{ .Site.Title }}</h1>
  </div>
  {{ .Content }}
  {{ partial "listing.html" . }}


  <ul class="mt-6 list-disc">
    <li>
      <span class="select-none">My Projects:</span>
      <ul class="list-disc">
        <li>
          {{ partial "styled-link.html" (dict
            "Title" "golox-tree-walk"
            "RelPermalink" "https://github.com/nixonyung/golox-tree-walk"
            "Lastmod" (time "2023-06-24")
            )
          }}
        </li>
      </ul>
    </li>
  </ul>
{{ end }}
