<article>
  <header>
    <div class="mb-4">
      <h1 class="m-0 inline box-decoration-clone">
        {{ if .IsHome }}
          {{ .Site.Title }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </h1>
    </div>

    {{ if and .PublishDate .Lastmod }}
      <div
        class="tooltip tooltip-right mb-4 pr-2"
        data-tip="({{ i18n "published_on" }} {{ .PublishDate.Format "2006 Jan 02" }})"
      >
        <span
          class="select-none font-normal tracking-tighter text-base-content opacity-30 sm:tracking-tight"
        >
          {{ i18n "last_updated_on" }}
          {{ .Lastmod.Format "2006 Jan 02" }}
        </span>
      </div>
    {{ end }}
  </header>

  {{ .Content }}


  <div class="flex ">
    <a
      id="navigation-prev"
      class="mt-9 hidden text-primary no-underline opacity-50 transition-opacity duration-500 hover:opacity-90 sm:mt-12"
    >
      <div class="flex items-center gap-3">
        {{ partial "icons/icon" (dict
          "vendor" "mdi"
          "name" "arrow-left"
          )
        }}
        {{ i18n "navigation_prev" }}
      </div>
    </a>
    <span class="flex-1"></span>
    <a
      id="navigation-next"
      class="mt-9 hidden text-primary no-underline opacity-50 transition-opacity duration-500 hover:opacity-90 sm:mt-12"
    >
      <div class="flex items-center gap-3">
        {{ i18n "navigation_next" }}
        {{ partial "icons/icon" (dict
          "vendor" "mdi"
          "name" "arrow-right"
          )
        }}
      </div>
    </a>
  </div>
</article>
