<article>
  <header>
    <div class="mb-4">
      <h1 class="inline m-0 box-decoration-clone">
        {{ if .IsHome }}
          {{ .Site.Title }}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </h1>
    </div>

    {{ if and .PublishDate .Lastmod }}
      <div
        class="tooltip tooltip-right mb-4 pr-2"
        data-tip="({{ i18n "published_on" }} {{ .PublishDate.Format "2006 Jan 02" }})"
      >
        <span
          class="text-base-content font-normal tracking-tighter sm:tracking-tight opacity-30 select-none"
        >
          {{ i18n "last_updated_on" }}
          {{ .Lastmod.Format "2006 Jan 02" }}
        </span>
      </div>
    {{ end }}
  </header>

  {{ .Content }}
</article>
