<div class="flex items-center gap-2">
  {{ if and .Pages (not .Content) }}
    <span class="badge badge-primary h-auto rounded-md px-2 py-1 font-bold opacity-80">
      {{ .Title }}
    </span>
  {{ else }}
    <div class="flex flex-col">
      <span>
        {{ .Title }}
      </span>
      <span
        class="h-0.5 max-w-0 flex-grow bg-accent/80 opacity-0 transition-all duration-500 group-hover:max-w-full group-hover:opacity-100"
      ></span>
    </div>
    {{ with .Lastmod }}
      <span class="flex-grow"></span>
      <div class="whitespace-nowrap text-base-content opacity-30">
        <span class="max-sm:hidden">{{ .Format "2006 Jan 02" }}</span>
        <span class="sm:hidden">{{ .Format "Jan 02" }}</span>
      </div>
    {{ end }}
  {{ end }}
</div>
