{{ $IsExternal := .Params.IsExternal }}


<ul class="m-0">
  {{ range .Pages.ByWeight }}
    <li class="m-0">
      {{ if .RelPermalink }}
        <a
          class="group my-1 block w-full px-2 py-2 no-underline transition-colors duration-100 hover:bg-base-300 focus:bg-base-300 focus:outline-none"
          href="{{ .RelPermalink }}"
          {{ if $IsExternal }}target="_blank" rel="noopener"{{ end }}
        >
          {{ partial "listing-item.html" . }}
        </a>
      {{ else }}
        <span class="group my-1 block w-full px-2 py-2 no-underline focus:outline-none">
          {{ partial "listing-item.html" . }}
        </span>
      {{ end }}

      {{ if .Pages }}
        {{ partial "listing.html" . }}
      {{ end }}
    </li>
  {{ end }}
</ul>
