{{ $IsExternal := .Params.IsExternal }}


<ul class="m-0">
  {{ range .Pages.ByWeight }}
    <li class="m-0">
      <a
        class="
        {{ if .RelPermalink }}
          hover:bg-base-300 focus:bg-base-300 transition-colors duration-100
        {{ end }}
        group my-1 block w-full px-2 py-2 no-underline focus:outline-none
        "
        {{ with .RelPermalink }}
          href="{{ . }}"
          {{ if $IsExternal }}
            target="_blank" rel="noopener"
          {{ end }}
        {{ end }}
      >
        <div class="flex items-center gap-2">
          {{ if and .Pages (not .Content) }}
            <span class="badge badge-primary badge-outline h-auto rounded-sm opacity-80">
              {{ .Title }}
            </span>
          {{ else }}
            <div class="flex flex-col">
              <span>{{ .Title }}</span>
              <span
                class="h-0.5 max-w-0 flex-grow bg-primary opacity-0 transition-all duration-500 group-hover:max-w-full group-hover:opacity-50"
              ></span>
            </div>
            {{ with .Lastmod }}
              <span class="flex-grow"></span>
              <span class="whitespace-nowrap text-base-content opacity-30 max-sm:hidden">
                {{ .Format "2006 Jan 02" }}
              </span>
              <span class="whitespace-nowrap text-base-content opacity-30 sm:hidden">
                {{ .Format "Jan 02" }}
              </span>
            {{ end }}
          {{ end }}
        </div>
      </a>

      {{ if .Pages }}
        {{ partial "listing.html" . }}
      {{ end }}
    </li>
  {{ end }}
</ul>
