<ul>
  {{ range .Pages.ByWeight }}
    {{ if .Pages }}
      <li>
        <a
          href="{{ .RelPermalink }}"
          class="block w-full py-3 px-2 no-underline focus:outline-none hover:bg-base-300 focus:bg-base-300 transition-colors duration-100"
        >
          <span
            class="badge badge-primary badge-outline rounded-none h-auto text-primary-content opacity-80"
          >
            {{ .Title }}
          </span>
        </a>
        {{ partial "listing.html" . }}
      </li>
    {{ else }}
      <li>
        {{ partial "styled-link.html" . }}
      </li>
    {{ end }}
  {{ end }}
</ul>
