<ul class="list-disc leading-3">
  {{ range .Pages.ByWeight }}
    {{ if .Pages }}
      <li>
        <a
          href="{{ .RelPermalink }}"
          tabindex="1"
          class="block w-full py-3 px-2 no-underline focus:outline-none hover:bg-base-300 focus:bg-base-300 transition-colors duration-100"
        >
          <span
            class="badge badge-primary badge-outline rounded-none h-auto text-primary-content opacity-80"
          >
            {{ .Title }}
          </span>
        </a>
      </li>
      {{ partial "listing.html" . }}
    {{ else }}
      <li>
        <a
          href="{{ .RelPermalink }}"
          tabindex="1"
          class="w-full py-3 px-2 flex items-center no-underline focus:outline-none hover:bg-base-300 focus:bg-base-300 transition-colors duration-100"
        >
          <span class="underline">{{ .Title }}</span>
          <span class="flex-grow"></span>
          <span class="text-base-content opacity-30 max-sm:hidden">
            {{ .Lastmod.Format "2006-01-02" }}
          </span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
