@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

/* (ref.) [Default theme variable reference](https://tailwindcss.com/docs/theme#default-theme-variable-reference) */
@theme inline {
  --font-heading: var(--font-recursive), var(--font-lxgw-wenkai-tc), sans-serif;
  --font-heading--font-variation-settings: "CASL" 1, "CRSV" 1;
  --font-content: var(--font-recursive), var(--font-noto-sans-hk), sans-serif;
  --font-content--font-variation-settings: "CASL" 0.5, "CRSV" 1;
  --font-code: var(--font-recursive), monospace;
  --font-code--font-variation-settings: "CASL" 0.5, "CRSV" 1, "MONO" 0.5;

  /* [Color wheel](https://www.canva.com/colors/color-wheel/) */
  /* [OKLCH Color Picker & Converter](https://oklch.com/) */
  /*
  TODOs:
    - refactor "white-content" vs "primary-content" -> "content"?
    - refactor "primary-lighter" vs "primary/xx" -> "highlighted"?
    - rename "secondary-content" to "highlight"
  */
  --color-primary: light-dark(oklch(95% 0.0175 265), oklch(15% 0.0125 265));
  --color-primary-lighter: light-dark(oklch(85% 0.05 265), oklch(35% 0.05 265));
  --color-primary-content: light-dark(oklch(40% 0.175 265), oklch(80% 0.175 265));
  --color-secondary-content: light-dark(oklch(25% 0.3 160), oklch(80% 0.4 160));
  --color-white-content: light-dark(oklch(15% 0.15 265), oklch(93% 0 265));

  --container-content: 56rem; /* 4xl */
}
