---
import HtmlHead from "@/components/HtmlHead.astro";
import WithIcon from "@/components/WithIcon.astro";
import { getLocalizedMessage } from "@/i18n";
import "@/styles.css";

interface Props {
  title?: string;
}
const { title } = Astro.props;

const currSlug = Astro.url.pathname.split("/").slice(2).join("/");
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <HtmlHead {title} />
  </head>

  <body class="flex min-h-dvh flex-col bg-primary font-content">
    <header class="sticky top-0 z-50 bg-primary-lighter/40 backdrop-blur-md select-none">
      <div
        class="mx-auto flex max-w-content items-center justify-center px-4 tracking-tighter text-primary-content/50"
      >
        <nav class="text-md hover:text-primary-content active:text-primary-content/90">
          <WithIcon
            as="a"
            iconName="heroicons:home-solid"
            href={"/" + Astro.currentLocale + "/"}
            class="px-4 py-3"
          >
            {getLocalizedMessage("home", Astro.currentLocale)}
          </WithIcon>
        </nav>
        <div class="grow"></div>
        <div class="relative">
          <WithIcon
            as="button"
            iconName="heroicons:language-solid"
            iconSize="1.25rem"
            class="peer cursor-pointer rounded-full px-4 py-3 hover:text-primary-content active:text-primary-content"
          />
          <ul
            class="absolute right-0 hidden -translate-y-2 divide-y divide-primary-lighter rounded-md border-2 border-primary-lighter bg-primary backdrop-blur-lg peer-focus:block hover:block active:block"
          >
            {
              (
                [
                  { locale: "zh", icon: "icon-park-outline:chinese" },
                  { locale: "en", icon: "icon-park-outline:english" },
                ] as const
              ).map(({ locale, icon }) => (
                <li>
                  <WithIcon
                    as="a"
                    iconName={icon}
                    iconSize="1.5rem"
                    href={"/" + locale + "/" + currSlug}
                    class="gap-4 py-3 pr-4 pl-5 text-primary-content/60 hover:text-primary-content active:bg-primary-lighter active:text-primary-content"
                  >
                    <span>{getLocalizedMessage("languageName", locale)}</span>
                  </WithIcon>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </header>

    <main class="grow">
      <slot />
    </main>

    <footer class="select-none">
      <div
        class="mx-auto my-2 w-fit max-w-content px-6 text-xs font-light tracking-tighter text-primary-content/40 sm:px-9 sm:text-sm sm:tracking-tight"
      >
        © 2023-{new Date().getFullYear()} Nixon Yung. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
